<h1>Taxi Fare Calculator</h1>
<p>Please enter the details of your taxi ride, and we'll calculate the price:</p>

<form [formGroup]="taxiForm" (ngSubmit)="onSubmit(taxiForm.value)">
  <div>
    <label for="distanceLessThanSix">
      Minutes Over 6 mph Or Stationary
    </label>
    <input id="distanceLessThanSix" type="number" min="0" formControlName="distanceLessThanSix" ng-model="required" required/>
  </div>

  <div>
    <label for="timeGreaterThanSixOrIdle">
      Distance Traveled Faster Than 6 mph (1/5 Mile Unit)
    </label>
    <input id="timeGreaterThanSixOrIdle" type="number" min="0" formControlName="timeGreaterThanSixOrIdle" ng-model="required" required/>
  </div>

  <div>
    <label for="date">
      Date
    </label>
    <input id="date" type="date" formControlName="date" ng-model="required" required />
  </div>

  <div>
    <label for="startTime">
      Start Time
    </label>
    <input id="date" type="time" id="startTime" formControlName="startTime" ng-model="required" required/>
  </div>

  <div>
    <button class="button"  [disabled]="!taxiForm.valid" type="submit">Calculate</button>
  </div>
</form>

<div>
  Total: {{ cost }}
</div>
